.cart {
  width: 100%;
  padding: 3rem 10rem;
}
.cart__title {
  font-size: 4rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
}
.cart__link {
  font-size: 2rem;
  color: black;
  text-decoration: underline;
  transition: .4s ease opacity;
}
.cart__link:hover {
  opacity: .4;
}
.cart__container {
  display: flex;
  column-gap: 5rem;
}
@media screen and (max-width: 1280px) {
  .cart__container {
    display: flex;
    flex-direction: column;
    column-gap: 0;
  }
  .cart__link {
    font-size: 13px;
  }
  .cart__title {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
  }
}